*{
  background-color: rgb(235, 243, 243);
}

.header {
  margin-top: 100px;
  margin-bottom: 70px;
}

.header_tit {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(99, 97, 97);
}

.search-form {
  text-align: center;
  color: gray;
}

.search-input {
  padding: 10px 30px;
  margin-bottom: 15px;
  outline: none;
}

.search-button {
  border-radius: 45px;
  border: none;
  background-color: gray;
  color: white;
  padding: 10px 20px;
}

.weather-data {
  text-align: center;
  margin-top: 90px;
}

.tagline {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 25px;
}

.data-box {
  border: gray solid;
  margin: 50px  300px;
  padding: 50px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.error{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(99, 97, 97);
  margin-top: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
